
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

h1, h2, h3, p {
    color: #FFFFFF;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    color: #1ed760;
}

button {
    background-color: #1DB954;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ed760;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #333;
    color: #FFFFFF;
    margin-right: 10px;
}

.container p {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0;
}

.container img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

audio {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    input[type="text"] {
        width: 200px;
    }

    button {
        padding: 8px 15px;
    }

    .container img {
        width: 100%;
        max-width: 100%;
    }
}
